*, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri;
}

.ustKisim {
    min-height: 32px;
    background-color: #690264;
    color: white;
    padding: 10px;
}

.logo {
    width: 250px;
    float: left;
}

.kullanicipanel {
    width: 250px;
    float: right;
    padding: 5px;
}

    .kullanicipanel a {
        color: white;
    }

.menu {
    width: 250px;
    padding: 10px;
    min-height: 884px;
    background-color: #eeeeee;
    float: left;
}

    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .menu ul a {
            color: #690264;
            text-decoration: none;
        }

            .menu ul a li {
                padding: 3px;
                border-bottom: 1px solid #690264;
            }

            .menu ul a:hover li {
                background-color: #c8c8c8;
            }

.icerik {
    padding: 20px;
    width: 1400px;
    float: left;
}

.panel {
    min-height: 300px;
}

.panelBaslik {
    padding: 10px;
    background-color: #eeeeee;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid silver;
    border-bottom: none;
}

.panelIcerik {
    padding: 10px;
    border: 1px solid silver;
}

    .panelIcerik .satir {
        margin-top: 10px;
    }

    .panelIcerik .metinKutu {
        width: 97%;
        font-size: 12pt;
        padding: 7px;
        margin-top: 10px;
        border-radius: 7px;
        border: 1px solid silver;
    }

    .panelIcerik .button {
        background-color: #F29544;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        text-align: center;
        font-size: 13pt;
        font-weight: 900;
        border-radius: 7px;
    }

        .panelIcerik .button:hover {
            background-color: #d5823a;
        }

    .panelIcerik .hata {
        background-color: #ffcece;
        border: 1px solid #820b0b;
        color: #820b0b;
        padding: 12px;
        border-radius: 7px;
    }

    .panelIcerik .basarili {
        background-color: #33A6A6;
        border: 1px solid #1a6f6f;
        color: white;
        padding: 12px;
        border-radius: 7px;
    }

    .panelIcerik table {
        width: 100%;
    }

        .panelIcerik table tr {
        }

            .panelIcerik table tr th {
                border-bottom: 2px solid silver;
                background-color: #eeeeee;
                color: gray;
                padding: 7px;
                text-align: left;
            }

            .panelIcerik table tr td {
                padding: 7px;
                border-bottom: 1px solid silver;
            }
            .panelIcerik table .alt td {
               background-color:#fcfcfc;
            }
.tablobutton {
    padding: 3px 10px;
    color: white;
    text-decoration: none;
    border-radius:2px;
    margin:5px 2px;
}
.duzenle {
    background-color: #33A6A6;
    border: 1px solid #1a6f6f;
   
}
.sil {
    background-color: #ffcece;
    border: 1px solid #820b0b;
    color:#820b0b;
}
    .Playroom-1-hex {
        color: #8C1F66;
    }

.Playroom-2-hex {
    color: #323673;
}

.Playroom-3-hex {
    color: #33A6A6;
}

.Playroom-4-hex {
    color: #F29544;
}

.Playroom-5-hex {
    color: #F25041;
}
